<template>
  <div class="game">
    <div class="game-layout">
      <div class="player-list">
        <span v-if="isStarted">
          <span v-if="word === ''">Your are Mister white (RIP)</span>
          <span v-else>Your word: {{ word }}</span>
        </span>
        <v-content>
          <v-slide-group multiple show-arrows>
            <v-slide-item
              v-for="player of playersGame"
              :key="player._id"
              v-slot:default="{active, toggle}"
            >
              <v-card class="ma-4" @click="toggle">
                <v-row class="fill-height player" align="center" justify="center">
                  <p>{{ player.username }}</p>
                </v-row>
              </v-card>
            </v-slide-item>
          </v-slide-group>
        </v-content>
      </div>
      <div class="actions">
        <div class="action-container">
          <v-btn color="primary" v-if="isFirstPlayer && !isStarted" @click="startGame"
            >Start game</v-btn
          >
          <div class="guess-word" v-if="showGuessWord">
            <v-text-field v-model="guessWordInput" label="Word to guess"></v-text-field>
            <v-btn color="primary" @click="guessWord">Guess Word</v-btn>
          </div>
          <p v-if="isDead">Your are eliminated</p>
          <v-btn color="primary" v-if="isFirstPlayer && endOfTheGame" @click="restartgame"
            >Restart game</v-btn
          >
        </div>
      </div>
      <div class="votes-container" v-if="isStarted">
        <div class="votes" v-if="showVote && !isDead">
          <p>Vote For:</p>
          <v-btn
            v-for="player of playersVote"
            :key="player._id"
            @click="vote(player._id)"
            >{{ player.username }}</v-btn
          >
        </div>
      </div>
      <div class="messages">
        <div class="header"></div>
        <p v-for="(message, index) of messages" :key="index">{{ message }}</p>
      </div>
    </div>
    <v-bottom-sheet hide-overlay v-model="sheet">
      <v-sheet class="text-center" height="200px">
        <div class="py-3">ID of the game: {{ idGame }}</div>
        <v-btn
          class="mt-6"
          color="error"
          type="button"
          v-clipboard:copy="idGame"
          v-clipboard:success="onCopy"
          v-clipboard:error="onCopyError"
          >Close</v-btn
        >
      </v-sheet>
    </v-bottom-sheet>
    <v-overlay :value="isLoading">
      <v-progress-circular
        :size="70"
        :width="7"
        color="purple"
        indeterminate
      ></v-progress-circular>
    </v-overlay>
    <v-snackbar v-model="snackbar" :timeout="timeout">
      {{ infoSnack }}
      <v-btn color="blue" text @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {Socket} from 'vue-socket.io-extended';
import {getModule} from 'vuex-module-decorators';
import PlayerModule from '../store/playerModule';
import LoadingModule from '../store/loadingModule';
import LogService from '../services/logService';
import {Player} from '../models/player';

@Component({
  name: 'Game',
})
export default class Game extends Vue {
  private player = getModule(PlayerModule);

  private loading = getModule(LoadingModule);

  private sheet = false;

  private isStarted = false;

  private showVote = false;

  private showGuessWord = false;

  private guessWordInput = '';

  private word: string | null = null;

  private isDead = false;

  private endOfTheGame = false;

  private messages: string[] = [];

  private infoSnack = '';

  private snackbar = false;

  private timeout = 2000;

  get idGame(): string {
    return this.$route.params.id;
  }

  get isFirstPlayer(): boolean {
    return this.playersGame && this.playersGame.length > 0
      ? this.playersGame[this.playersGame.length - 1]._id === this.idPlayer
      : false;
  }

  get playersVote(): Player[] {
    return this.playersGameLeft.filter(p => p._id !== this.idPlayer);
  }

  // eslint-disable-next-line class-methods-use-this
  get idPlayer(): string | null {
    return localStorage.getItem('idPlayer');
  }

  mounted() {
    this.getPlayers();
    if (!this.idGame || !this.idPlayer) {
      this.$router.push('/');
      return;
    }
    this.addLoading();
    this.$socket.client.emit('players/identify', this.idPlayer);
  }

  public onCopy(e: any): void {
    LogService.log('succes copy', e);
    this.closeSheet();
  }

  public onCopyError(e: any): void {
    LogService.log('error copy', e);
    this.closeSheet();
  }

  public closeSheet() {
    this.sheet = false;
  }

  public startGame() {
    this.$socket.client.emit('games/start', this.idGame);
  }

  public vote(id: string): void {
    LogService.log(this.idPlayer, id);
    this.$socket.client.emit('games/vote', {
      idGame: this.idGame,
      idPlayer: id,
    });
  }

  public guessWord(): void {
    this.$socket.client.emit('games/word/guess', {
      idGame: this.idGame,
      word: this.guessWordInput,
    });
    this.guessWordInput = '';
  }

  public setEndOfTheGame() {
    this.endOfTheGame = true;
  }

  public restartgame() {
    LogService.log('restart');

    this.$socket.client.emit('games/reset', this.idGame);
  }

  @Socket('players/identify')
  onPlayerIdentify(message: string) {
    this.removeLoading();
    LogService.log(message);
    this.sheet = true;
    const idGameLocal = localStorage.getItem('idGame');
    if (idGameLocal !== this.idGame) {
      LogService.info('join the game', this.idGame);
      this.addLoading();
      this.$socket.client.emit('games/join', {
        idGame: this.idGame,
      });
    } else {
      this.getPlayersFromGame();
    }
  }

  addMessage(message: string): void {
    this.messages.push(message);
  }

  showSnackbar(message: string): void {
    this.infoSnack = message;
    this.snackbar = true;
  }

  @Socket('games/join')
  onGameJoined(players: Player[]) {
    this.addMessage('Someone have joined the game');
    LogService.log('have joined:', players);

    this.removeLoading();
    localStorage.setItem('idGame', this.idGame);
    this.initPlayers(players);
  }

  @Socket('games/start')
  onGameStart(result: any) {
    LogService.log('have started:', result);
    this.sheet = false;
    this.addMessage('Start of the game');
    this.showSnackbar('Start of the game');
    if (!result.err) {
      this.isStarted = true;
    }
  }

  @Socket('games/word')
  onWordGiven(word: string) {
    this.word = word;
    this.showVote = true;
  }

  @Socket('games/vote')
  onVote(result: any) {
    LogService.log(`${result.source} has voted`);
    const playerSource = this.playersGame.find(p => p._id === result.source);
    this.addMessage(
      result.source === this.idPlayer
        ? 'You have voted'
        : `${playerSource ? playerSource.username : 'nobody'} has voted`
    );
    if (result.source === this.idPlayer) {
      this.showVote = false;
    }
  }

  @Socket('games/eliminate')
  onPlayerEliminated(result: any) {
    this.addMessage(
      result.player._id === this.idPlayer
        ? `You are eliminated, You was: ${result.role}`
        : `${result.player.username} is elminated. He was: ${result.role}`
    );
    LogService.log('someone as been eliminated', result);
    LogService.log('He was:', result.role);
    this.setPlayersGameLeft(this.playersGame.filter(p => p._id !== result.player._id));
    if (result.role !== 'mr white' && this.idPlayer !== result.player._id) {
      this.showVote = true;
    }
    if (result.player._id === this.idPlayer) {
      this.isDead = true;
    }
  }

  @Socket('games/word/guess')
  onWordGuessed(player: Player) {
    this.addMessage(`${player.username} need to find the word`);
    LogService.log(`${player.username} need to find the word`);
    this.showVote = false;
    if (this.idPlayer === player._id) {
      this.showGuessWord = true;
    }
  }

  @Socket('games/word/bad')
  onBadWordGuessed(player: Player) {
    this.addMessage(`${player.username} hasn't found the word`);
    LogService.log(`${player.username} hasn't found the word`);
    if (this.idPlayer !== player._id) {
      this.showVote = true;
    } else {
      this.showGuessWord = false;
    }
  }

  @Socket('games/win')
  onWinning() {
    this.addMessage('You win!');

    LogService.log('You win');
    this.showVote = false;
    this.setEndOfTheGame();
  }

  @Socket('games/loose')
  onLoosing(role: string) {
    this.addMessage('You loose...');
    this.addMessage(`The winners are: ${role}`);

    LogService.log('You loose');
    LogService.log('Winners', role);
    this.showVote = false;
    this.setEndOfTheGame();
  }

  @Socket('games/reset')
  onReset() {
    LogService.log('Reseting Game');
    this.showVote = false;
    this.isDead = false;
    this.endOfTheGame = false;
    this.isStarted = true;
    this.messages = [];
    this.getPlayersFromGame();
  }

  @Socket('games/error')
  // eslint-disable-next-line class-methods-use-this
  onGameError(result: any) {
    LogService.error(result);
  }

  public get isLoading(): boolean {
    return this.loading.isLoading;
  }

  public get playersGame(): Player[] {
    return this.player.playersGame;
  }

  public get playersGameLeft(): Player[] {
    return this.player.playersGameLeft;
  }

  public setPlayersGameLeft(players: Player[]): void {
    this.player.setPlayersGameLeft(players);
  }

  public initPlayers(players: Player[]): void {
    this.player.initPlayersGame(players);
  }

  public getPlayersFromGame(): Promise<Player[]> {
    return this.player.getPlayersFromGame(this.idGame);
  }

  public addLoading(): void {
    this.loading.addLoading();
  }

  public removeLoading(): void {
    this.loading.removeLoading();
  }

  public getPlayers(): Promise<Player[]> {
    return this.player.getPlayers();
  }
}
</script>

<style lang="scss" scoped>
.game {
  height: 100%;
}
.game-layout {
  display: grid;
  /* prettier-ignore */
  grid-template-areas: 
    'players players players messages'
    '   .      vote     .    messages'
    'actions actions actions actions';
  grid-template-rows: max-content 1fr max-content;
  max-height: calc(100vh - 48px);

  .player-list {
    grid-area: players;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    > span {
      padding-left: 1rem;
    }
    .player p {
      margin: 0;
    }

    .v-card {
      padding: 0 16px;
    }
  }
  .messages {
    grid-area: messages;
    overflow: auto;
    .header {
      width: 100%;
      height: 3rem;
      background: #333;
    }
    p {
      margin: 0;
    }
  }
  .actions {
    grid-area: actions;
    min-height: 8rem;
    box-shadow: 0 -3px 9px 1px rgba(51, 51, 51, 0.5);
    padding-top: 1rem;
    .action-container {
      width: max-content;
      margin: auto;
    }
  }

  .votes-container {
    grid-area: vote;
  }
}
</style>
