<template>
  <div class="home">
    <v-expansion-panels class="panels" v-model="panel" popout :readonly="!hasChoosen">
      <v-expansion-panel>
        <v-expansion-panel-header disable-icon-rotate>
          <template v-slot:default="{open}">
            <div class="username-selection">
              <span class="panel-title" cols="4">Username selection</span>
              <v-fade-transition leave-absolute>
                <span v-if="!open">Username : {{ me ? me.username : '' }}</span>
              </v-fade-transition>
            </div>
          </template>
          <template v-slot:actions>
            <v-icon v-if="hasChoosen" color="teal">mdi-check</v-icon>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="choose-player select-player">
            <p>Select your username</p>
            <v-autocomplete
              item-text="username"
              item-value="_id"
              v-model="select"
              :items="players"
              label="Username"
              @input="selectPlayer"
            ></v-autocomplete>
          </div>
          <div class="choose-player add-player">
            <p>Add you username if you have not found it</p>
            <v-text-field v-model="username" label="Username"></v-text-field>
            <v-btn @click="addPlayer">Add Player</v-btn>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="hasChoosen">
        <v-expansion-panel-header>
          <p class="panel-title" cols="4">Game selection</p>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="game-selection">
            <div class="create-game">
              <div></div>
              <v-text-field v-model="name" label="Name"></v-text-field>
              <v-text-field v-model="nbPlayer" label="Number of players"></v-text-field>
              <div></div>
              <div></div>
              <v-btn @click="createRoom">Create Room</v-btn>
            </div>
            <div class="join-game">
              <div></div>
              <v-text-field v-model="idRoom" label="Room ID"></v-text-field>
              <v-btn @click="joinRoom">Join Room</v-btn>
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <div v-if="hasChoosen"></div>
    <v-overlay :value="isLoading">
      <v-progress-circular
        :size="70"
        :width="7"
        color="purple"
        indeterminate
      ></v-progress-circular>
    </v-overlay>
    <v-bottom-sheet hide-overlay v-model="sheet" persistent>
      <v-sheet class="text-center" height="200px">
        <div class="py-3">ID of the game: {{ idGameReturn }}</div>
        <v-btn
          class="mt-6"
          color="error"
          type="button"
          v-clipboard:copy="idGameReturn"
          v-clipboard:success="onCopy"
          v-clipboard:error="onError"
          >Close</v-btn
        >
        <!-- <v-btn class="mt-6" color="error" @click="copyIdGame">Close</v-btn> -->
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {getModule} from 'vuex-module-decorators';
import {Socket} from 'vue-socket.io-extended';
import {Player} from '../models/player';
import PlayerModule from '../store/playerModule';
import LoadingModule from '../store/loadingModule';
import LogService from '../services/logService';

@Component({
  name: 'Home',
})
export default class Home extends Vue {
  private username = '';

  private sheet = false;

  private select = '';

  private idPlayer = '';

  private idRoom = '';

  private name = '';

  private panel = 0;

  private nbPlayer = 0;

  private idGameReturn = '';

  private player = getModule(PlayerModule);

  private loading = getModule(LoadingModule);

  public get isLoading(): boolean {
    return this.loading.isLoading;
  }

  public get players(): Player[] {
    return this.player.players;
  }

  get hasChoosen(): boolean {
    return !!this.idPlayer;
  }

  get me(): Player | undefined {
    return this.players.find((p: Player) => p._id === this.idPlayer);
  }

  mounted() {
    this.getPlayers().then(() => {
      const idPlayerLocal = localStorage.getItem('idPlayer');
      if (idPlayerLocal) {
        this.choosePlayer(idPlayerLocal);
        this.select = idPlayerLocal;
      }
    });
  }

  public getPlayers(): Promise<Player[]> {
    return this.player.getPlayers();
  }

  public addLoading(): void {
    this.loading.addLoading();
  }

  public removeLoading(): void {
    this.loading.removeLoading();
  }

  public addPlayer(): void {
    LogService.log('socket id', this.$socket.client.id);

    this.$socket.client.emit('players/add', this.username);
    this.username = '';
    this.addLoading();
  }

  public selectPlayer(): void {
    this.choosePlayer(this.select);
  }

  public createRoom(): void {
    LogService.log('room name', this.name);
    this.addLoading();
    this.$socket.client.emit('games/create', {
      name: this.name,
      nbPlayer: this.nbPlayer,
    });
  }

  public joinRoom(): void {
    LogService.log('room id', this.idRoom);
    this.goToGame(this.idRoom);
  }

  public choosePlayer(id: string): void {
    this.idPlayer = id;
    localStorage.setItem('idPlayer', this.idPlayer);
    this.panel = 1;
  }

  public closeSheet() {
    this.sheet = false;
  }

  public onCopy(e: any): void {
    LogService.log('succes copy', e);
    this.closeSheet();
  }

  public onError(e: any): void {
    LogService.log('error copy', e);
    this.closeSheet();
  }

  @Socket('players/add')
  onPlayerAdded(id: string) {
    LogService.log('id added', id);
    this.removeLoading();
    this.getPlayers().then(() => {
      this.choosePlayer(id);
    });
  }

  @Socket('games/create')
  onGameCreated(id: string) {
    this.removeLoading();
    LogService.log('game created', id, this.name);
    this.goToGame(id);
  }

  private goToGame(id: string) {
    this.$router.push(`/game/${id}`);
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  align-content: center;

  .panels {
    width: 80%;

    .panel-title {
      font-size: 1.5rem;
    }
  }

  .choose-player {
    display: grid;
    align-items: center;
    gap: 1rem;
    p {
      text-align: end;
      margin: 0;
    }
  }
  .select-player {
    grid-template-columns: max-content 1fr;
  }
  .add-player {
    grid-template-columns: max-content 1fr max-content;
  }

  .username-selection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .game-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;

    .create-game {
      border-right: 1px solid #333;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      // grid-template-columns: 1fr 1fr 1fr max-content 1fr;
    }
  }
  .create-game,
  .join-game {
    display: grid;
    grid-template-columns: 1fr 1fr max-content 1fr;
    place-items: center;
    gap: 1rem;
  }
}
</style>
