<template>
  <v-app>
    <v-app-bar color="deep-purple accent-4" dense dark>
      <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->

      <v-toolbar-title
        ><router-link class="title" to="/">Undercover</router-link></v-toolbar-title
      >

      <v-spacer></v-spacer>
      <!-- <v-btn text small><router-link to="/">Home</router-link></v-btn>
      <v-btn text small><router-link to="/about">About</router-link></v-btn>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn> -->

      <!-- <v-btn icon> -->
      <div class="me" v-if="me">
        <span>{{ me.username }}</span>
        <v-icon>mdi-account-circle</v-icon>
      </div>
      <!-- </v-btn> -->
    </v-app-bar>

    <v-content class="app">
      <router-view />
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {getModule} from 'vuex-module-decorators';
import PlayerModule from './store/playerModule';
import {Player} from './models/player';

@Component({
  name: 'App',
})
export default class App extends Vue {
  private player = getModule(PlayerModule);

  get players(): Player[] {
    return this.player.players;
  }

  get me(): Player | undefined {
    const id = localStorage.getItem('idPlayer');
    return this.players.find(p => p._id === id);
  }
}
</script>

<style lang="scss" scoped>
.title {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.me {
  span {
    font-size: 1rem;
    margin-right: 0.7rem;
  }
  i {
    width: 1rem;
    height: 1rem;
  }
}
.app {
  min-height: calc(100% - 48px);
}
</style>
